<h4>Existing User Login</h4>

<div *ngIf="this._userService.errors.length >= 1">
    <ul>
        <li *ngFor="let error of this._userService.errors">{{error}}</li>
    </ul>
</div>
<div>
    <form (submit)="checkUser()">
        <div>
            <label for="email">E-Mail:</label>
            <br>
            <label for="password">Password: </label>
        </div>
        <div>
            <input type="text" name="email" placeholder="E-Mail" [(ngModel)]="loginUser.email">
            <br>
            <input type="password" name="password" placeholder="Password" [(ngModel)]="loginUser.password">
            <br>
            <input type="submit" name="Login">
        </div>
    </form>
</div>
<div>
    <button id="SwitchButton" (click)="StartReg()">New User Registration</button>
</div>